<div class="btnContainer">
  <div class="direction">
    <div class="direction__element direction__element--blank"></div>
    <div
      (click)="goUp()"
      class="direction__element direction__element--arrow corner-rounded-top"
    ></div>
    <div class="direction__element direction__element--blank"></div>
    <div
      (click)="goLeft()"
      class="direction__element direction__element--arrow corner-rounded-left"
    ></div>
    <div class="direction__element direction__element--arrow">
      <div class="direction__element__center"></div>
    </div>
    <div
      (click)="goRight()"
      class="direction__element direction__element--arrow corner-rounded-right"
    ></div>
    <div class="direction__element direction__element--blank"></div>
    <div
      (click)="goDown()"
      class="direction__element direction__element--arrow corner-rounded-bottom"
    ></div>
    <div class="direction__element direction__element--blank"></div>
  </div>
  <div class="AB">
    <div class="AB__btn">
      <div (click)="cancel()" id="B_btn" class="AB__btn__btn"></div>
      <div (click)="confirm()" id="A_btn" class="AB__btn__btn"></div>
    </div>
    <div class="AB__btn-label">
      <div>B</div>
      <div>A</div>
    </div>
  </div>
</div>
<div class="select-start">
  <div class="select-start__btn-container">
    <div class="select-start__btn-container__btn">
      <div class="btn-menu"></div>
    </div>
    <div class="label">select</div>
  </div>
  <div class="select-start__btn-container">
    <div class="select-start__btn-container__btn">
      <div class="btn-menu"></div>
    </div>
    <div class="label">start</div>
  </div>
</div>
