<div
  *ngIf="activeComponent.name === 'base'"
  class="flex flex-col justify-between mt-8 bg-white h-96"
>
  <section class="h-full p-2 border-black">
    <app-enemy [team]="enemyTeam"></app-enemy>
  </section>
  <section class="h-full p-2 border-black">
    <app-me [team]="myTeam"></app-me>
  </section>
  <section class="h-full p-2 border-black">
    <app-footer></app-footer>
  </section>
</div>
<div
  *ngIf="activeComponent.name === 'team'"
  class="flex flex-col justify-between mt-8 bg-white h-96"
>
  <section class="h-full p-2 border-black">
    <app-me></app-me>
  </section>
</div>
